// SPDX-License-Identifier: GPL-2.0-only
// Copyright (c) 2022, Ampere Computing LLC

/dts-v1/;

#include "aspeed-g6.dtsi"
#include <dt-bindings/i2c/i2c.h>
#include <dt-bindings/gpio/aspeed-gpio.h>

/ {
	model = "Ampere Mt.Bonnell BMC";
	compatible = "ampere,mtbonnell-bmc", "aspeed,ast2600";

	aliases {
		/*
		 *  I2C NVMe alias port
		 */
	};

	chosen {
		stdout-path = &uart5;
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x80000000>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		gfx_memory: framebuffer {
			size = <0x01000000>;
			alignment = <0x01000000>;
			compatible = "shared-dma-pool";
			reusable;
		};

		video_engine_memory: video {
			size = <0x04000000>;
			alignment = <0x01000000>;
			compatible = "shared-dma-pool";
			reusable;
		};

		vga_memory: region@bf000000 {
			no-map;
			compatible = "shared-dma-pool";
			reg = <0xbf000000 0x01000000>;  /* 16M */
		};
	};

	leds {
		compatible = "gpio-leds";

                led-heartbeat {
			gpios = <&gpio0 ASPEED_GPIO(P, 7) GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
		};

                led-sw-heartbeat {
			gpios = <&gpio1 ASPEED_GPIO(D, 4) GPIO_ACTIVE_LOW>;
		};

		identify {
			gpios = <&gpio0 ASPEED_GPIO(G, 2) GPIO_ACTIVE_HIGH>;
		};

		fault {
			gpios = <&gpio0 ASPEED_GPIO(G, 0) GPIO_ACTIVE_HIGH>;
		};
	};

	voltage_mon_reg: voltage-mon-regulator {
		compatible = "regulator-fixed";
		regulator-name = "ltc2497_reg";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	iio-hwmon {
		compatible = "iio-hwmon";
		io-channels =   <&adc0 0>, <&adc0 1>, <&adc0 2>, <&adc0 3>,
				<&adc0 4>, <&adc0 5>, <&adc0 6>, <&adc0 7>,
				<&adc1 0>, <&adc1 1>, <&adc1 2>, <&adc1 3>,
				<&adc1 4>, <&adc1 5>, <&adc1 6>, <&adc1 7>;
	};

	pwm-fan0 {
		compatible = "pwm-fan";
		pwms = <&pwm_tach 0 40000 0>;	/* Target freq:25 kHz */
	};

	pwm-fan1 {
		compatible = "pwm-fan";
		pwms = <&pwm_tach 1 40000 0>;	/* Target freq:25 kHz */
	};

	pwm-fan2 {
		compatible = "pwm-fan";
		pwms = <&pwm_tach 2 40000 0>;	/* Target freq:25 kHz */
	};

	pwm-fan3 {
		compatible = "pwm-fan";
		pwms = <&pwm_tach 3 40000 0>;	/* Target freq:25 kHz */
	};
};

&mac2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rmii3_default>;
	clock-names = "MACCLK", "RCLK";
	use-ncsi;
};

&mac3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rmii4_default>;
	clock-names = "MACCLK", "RCLK";
	use-ncsi;
};

&fmc {
	status = "okay";
	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "bmc";
		spi-max-frequency = <50000000>;
#include "openbmc-flash-layout-64.dtsi"
	};

	flash@1 {
		status = "okay";
		m25p,fast-read;
		label = "alt-bmc";
		spi-max-frequency = <50000000>;
#include "openbmc-flash-layout-64-alt.dtsi"
	};
};

&pwm_tach {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm0_default &pinctrl_pwm1_default
		&pinctrl_pwm2_default &pinctrl_pwm3_default
		&pinctrl_tach0_default &pinctrl_tach1_default
		&pinctrl_tach2_default &pinctrl_tach3_default
		&pinctrl_tach4_default &pinctrl_tach5_default
		&pinctrl_tach6_default &pinctrl_tach7_default>;

	tach0-I@0 {
		tach-ch = <0x00>;
		min-rpm = <700>;
	};
	tach0-O@1 {
		tach-ch = <0x01>;
		min-rpm = <700>;
	};
	tach1-I@2 {
		tach-ch = <0x02>;
		min-rpm = <700>;
	};
	tach1-O@3 {
		tach-ch = <0x03>;
		min-rpm = <700>;
	};
	tach2-I@4 {
		tach-ch = <0x04>;
		min-rpm = <700>;
	};
	tach2-O@5 {
		tach-ch = <0x05>;
		min-rpm = <700>;
	};
	tach3-I@6 {
		tach-ch = <0x06>;
		min-rpm = <700>;
	};
	tach3-O@7 {
		tach-ch = <0x07>;
		min-rpm = <700>;
	};
};

&spi1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi1_default>;

	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "pnor";
		spi-max-frequency = <50000000>;
                partitions {
	                compatible = "fixed-partitions";
		        #address-cells = <1>;
		        #size-cells = <1>;
		        uefi@400000 {
			        reg = <0x400000 0x1C00000>;
			        label = "pnor-uefi";
		        };
	        };
	};
};

&uart1 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&uart3 {
	status = "okay";
};

/* BMC's UART */
&uart5 {
	status = "okay";
};

&i2c0 {
	status = "okay";

        mp5023@40 {
		compatible = "mps,mp5023";
		reg = <0x40>;
	};

        mp5023@43 {
		compatible = "mps,mp5023";
		reg = <0x43>;
	};

        mp5023@44 {
		compatible = "mps,mp5023";
		reg = <0x44>;
	};

        mp5023@45 {
		compatible = "mps,mp5023";
		reg = <0x45>;
	};

        mp5023@41 {
		compatible = "mps,mp5023";
		reg = <0x41>;
	};

        mp5023@42 {
		compatible = "mps,mp5023";
		reg = <0x42>;
	};

	adc_i2c_0_37: adc@37 {
		compatible = "ti,adc128d818";
		reg = <0x37>;
		ti,mode = /bits/ 8 <1>;
	};
};

&i2c1 {
	status = "okay";

        // CPU SCP EEPROM
	eeprom@50 {
		compatible = "atmel,24c64";
		reg = <0x50>;
		pagesize = <32>;
	};
};

&i2c2 {
	status = "okay";

        // SCP Register Map
        smpro@4f {
                compatible = "ampere,smpro";
                reg = <0x4f>;
        };
};

&i2c3 {
	status = "okay";

	eeprom@50 {
		compatible = "atmel,24c64";
		reg = <0x50>;
		pagesize = <32>;
	};

        m24c08_56: eeprom@56 {
		compatible = "atmel,24c02";
		reg = <0x56>;
		pagesize = <16>;
	};

        tmp1@4d {
                compatible = "ti,tmp75";
                reg = <0x4d>;
        };

        tmp2@4e {
                compatible = "ti,tmp75";
                reg = <0x4e>;
        };

	tmp3@3c {
                compatible = "microchip,emc1413";
                reg = <0x3c>;
        };

};

&i2c4 {
	status = "okay";

	rtc@51 {
		compatible = "nxp,pcf85063a";
		reg = <0x51>;
	};
};

&i2c5 {
	status = "okay";
        // PDB SMBUS
};

&i2c6 {
	status = "okay";
        // PDB PMBUS
};

&i2c7 {
	status = "okay";
        // DIMM
};

&i2c8 {
	status = "okay";
        // VRD
};

&i2c9 {
	status = "okay";

	ssif-bmc@10 {
		compatible = "ssif-bmc";
		reg = <0x10>;
	};
};

&i2c10 {
	status = "okay";
        // CLKGEN
};

&i2c11 {
	status = "okay";
        // M2 Onboard
};

&i2c12 {
	status = "okay";
        // TODO: MUX PCA9546 to Slim SAS
};

&i2c13 {
	status = "okay";
        // I350, OCP, and Risers
};

&i2c14 {
	status = "okay";
        // CPLD
};

&i2c15 {
	status = "okay";
        // HDD BP
};

&adc0 {
	ref_voltage = <2500>;
	status = "okay";
};

&adc1 {
	ref_voltage = <2500>;
	status = "okay";
};

&vhub {
	status = "okay";
};

&video {
	status = "okay";
	memory-region = <&video_engine_memory>;
};

&display_port {
        status = "okay";
};

&gpio0 {
    gpio-line-names =
	/*A0-A7*/	"","","","","","","","",
	/*B0-B7*/	"","","","","","","","",
	/*C0-C7*/	"","","","","","","","",
	/*D0-D7*/	"","","","","","","","",
	/*E0-E7*/	"","bmc-pal-pwr-btn-n","","","","","","",
	/*F0-F7*/	"","","","i2c-backup-sel","","","","",
	/*G0-G7*/	"","","","","host0-sysreset-n","","","s0-plimit",
	/*H0-H7*/	"uart3-mode1","uart2-mode1","uart1-mode1","vrd-prg-en-l","","","","",
	/*I0-I7*/	"","","bmc-ready-n","host-online-en","","s0-vr-hot-n","","",
	/*J0-J7*/	"","","","","","","","",
	/*K0-K7*/	"","","","","","","","",
	/*L0-L7*/	"","","","","","","","",
	/*M0-M7*/	"","s0-spi-auth-fail-n","","s0-sys-auth-failure-n","s0-fault-alert","","","",
	/*N0-N7*/	"","","s0-overtemp-n","s0-hightemp-n","","","","",
	/*O0-O7*/	"","","","","","","","",
	/*P0-P7*/	"","bmc-ok","","","","","","led-identify",
	/*Q0-Q7*/	"","","","","","","","",
	/*R0-R7*/	"","","","","","","","",
	/*S0-S7*/	"","bmc-vbat-sen-en","","","","presence-cpu0","","spi0-backup-sel",
	/*T0-T7*/	"","","","","","","","",
	/*U0-U7*/	"","","","","","","","",
	/*V0-V7*/	"","","","","host0-special-boot","","host0-shd-req-n","",
	/*W0-W7*/	"i2c-program-sel","psu0-work","spi0-program-sel","","","bmc-s0-mem-efgh-sel","bmc-s0-mem-abcd-sel","ext-hightemp-n",
	/*X0-X7*/	"host0-reboot-ack-n","","host0-ready","","","","","",
	/*Y0-Y7*/	"","","bmc-i2c4-en","","","","","",
	/*Z0-Z7*/	"","","","","","","","";

    /* The pin GPIOY2 (BMC_I2C4_TEMP_FRU_FRTHDD_EN) is used to control the
	 * accessing to i2c devices on i2c channel 3.
	 * Set this pin to high to allow BMC access to i2c devices (temperature,
	 * fru, frthdd) in the boot time */
	temp_fru_frthdd_en {
		gpio-hog;
		gpios = <ASPEED_GPIO(Y, 2) GPIO_ACTIVE_HIGH>;
		output-high;
	};
};

&gpio1 {
 	gpio-line-names =
	/*18A0-18A7*/	"fan0-prsnt-n","fan1-prsnt-n","fan2-prsnt-n","fan3-prsnt-n","","","","",
	/*18B0-18B7*/	"","","","","","","","",
	/*18C0-18C7*/	"","","","","","","","",
	/*18D0-18D7*/	"","","s0-vr1-pmbus-sel","s0-vr0-pmbus-sel","","host0-shd-ack-n","","",
	/*18E0-18E3*/	"s0-rtc-lock","","","";
};
