[Unit]
Description=Ampere Computing LLC Power ON Chassis
Conflicts=obmc-chassis-poweroff@0.target

[Service]
RemainAfterExit=yes
Type=oneshot
ExecStart=/usr/sbin/ampere_power_util.sh mb power_on
SyslogIdentifier=ampere_power_util.sh
